<h2>{{title}}</h2>
<div class="container main">
  <input type="search" [(ngModel)] = "searchCity" placeholder="Enter City">
  <input type="search" [(ngModel)] = "searchPrice" placeholder="Enter Price">
  <button type="button" name="searchButton" (click)="searchEvents(searchCity, searchPrice)">Search</button>
  <table>
    <tr>
      <th>Artist</th>
      <th>Price</th>
      <th>City</th>
    </tr>
    <tr *ngFor="let event of filterData">
      <td>{{ event.name}}</td>
      <td>{{ event.price }}</td>
      <td>{{ event.city }}</td>
    </tr>
  </table>
</div>
